@import ./variables
.icons
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    width: 85%
    padding-top: 12em
    margin: 0 auto

.about
    height: 100%
    width: 100vw
    background-color: $accent-color
    margin: 0 auto

h1
    color: white

.aboutIcons
    height: 90%
    width: 90%
    display: block
    margin: 0 auto

.aboutBlurb
    font-family: $main-font
    color: $accent-color-two
    text-align: center
    width: 60%
    margin: 0 auto
    margin: 1em auto
    font-size: 2.5em

.curve
    top: 0
    left: 0
    width: 100%
    overflow: hidden
    line-height: 0


    & svg
        position: relative
        display: block
        width: calc(145% + 1.3px)
        height: 156px


    & .shape-fill

