@import ./variables
html
    height: 100%
    width: 100

body
    height: 100%
    width: 100%
    margin: 0

.heroBox
    background-color: black
    height: 100vh
    width: 100vw
    position: relative

.logo
    display: block
    animation: logoAnimation  6s
    position: absolute
    z-index: 3
    top: 0
    left: 0
    right: 0
    margin: 0 auto
    animation-fill-mode: forwards

.overlay
    position: absolute
    height: 100vh
    width: 100vw
    background: rgb(0,0,0)
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(205,205,205,0.6740897042410714) 100%)
    z-index: 2

.videoTag
    position: absolute
    height: 100vh
    width: 100vw

.heroText
    font-family: $main-font
    color: white
    position: absolute
    z-index: 4
    text-transform: uppercase
    text-align: center
    animation: tracking-in-contract-bck 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: 6s;
    top: 65%;
    left: 1%;

@keyframes logoAnimation
    0%
        top: 0%
        right: -20%
        transform: scale(1) rotateZ(0)
    25%
        transform: scale(0.5) rotateZ(180deg)
    50%
        transform: scale(1) rotateZ(360deg)
    100%
        left: -70%
        transform: scale(1) rotateZ(360deg)

@keyframes tracking-in-contract-bck
    0%
        letter-spacing: 1em
        transform: translateZ(400px)
        opacity: 0
    40%
        opacity: 0.6
    100%
        transform: translateZ(0)
        opacity: 1
