@import ./variables
*, *:before, *:after
    box-sizing: border-box

html
    height: 100%
    width: 100

body
    height: 100%
    width: 100%
    margin: 0

nav
    width: 100vw
    position: fixed
    top: 0
    z-index: 20
    background-color: $dark-tone
    height: 4em

.navLink
    color: white
    padding: 0 2em 0
    margin: 0.5em
    text-decoration: none
    display: inline-block
    font-family: $nav-font
    font-size: 1.5em

.hamburger
    position: fixed
    top: 1%
    right: 1%

#navIcon
    width: 3em
    height: 2em
    position: relative
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    -webkit-transition: .5s ease-in-out
    -moz-transition: .5s ease-in-out
    -o-transition: .5s ease-in-out
    transition: .5s ease-in-out
    cursor: pointer

#navIcon span
    display: block
    position: absolute
    height: 0.2em
    width: 100%
    background: #d3531a
    border-radius: 9px
    opacity: 1
    left: 0
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    -webkit-transition: .25s ease-in-out
    -moz-transition: .25s ease-in-out
    -o-transition: .25s ease-in-out
    transition: .25s ease-in-out

#navIcon span:nth-child(1)
    top: 0px

#navIcon span:nth-child(2)
    top: 16px

#navIcon span:nth-child(3)
    top: 34px

#navIcon.open span:nth-child(1)
    top: 18px
    -webkit-transform: rotate(135deg)
    -moz-transform: rotate(135deg)
    -o-transform: rotate(135deg)
    transform: rotate(135deg)

#navIcon.open span:nth-child(2)
    opacity: 0
    left: -60px

#navIcon.open span:nth-child(3)
    top: 18px
    -webkit-transform: rotate(-135deg)
    -moz-transform: rotate(-135deg)
    -o-transform: rotate(-135deg)
    transform: rotate(-135deg)

@media (max-width: $breakpoint-tablet)
    .navLink
        display: none

    .navOpen
        height: 100%
        transition: all 1s ease-out

    .navLink.open
        display: block
