@import ./variables
.portfolioCard
    width: 100vw
    height: 100vh
    position: relative
    background: purple
    
h2
    position: absolute
    top: 0
    left: 5%
    font-size: 6em
    z-index: 3
    color: white
    font-family: $nav-font
    &::after
        content: ''
        position: absolute
        width: 160%
        border-bottom: 0.2em solid white
        top: 90%
        right: -130%
.portfolioBlurb
    color: white
    width: 60%
    position: absolute
    font-size: 1.5em
    top: 25%
    left: 0
    right: 0
    margin: 0 auto

.portfolioStill
    position: absolute
    width: 50%
    height: 50%
    object-fit: cover
    top: 35%
    right: -45%
    &img
    border: 0.2em solid white
    border-radius: 30% 70% 26% 74% / 46% 28% 72% 54% 

@media (max-width: $breakpoint-tablet)

    h2
        font-size: 5em
        &::after
            right: -90%

    .portfolioStill
        width: 75%
        top: 40%
        left: 0
        right: 0
        margin: 0 auto

@media (max-width: $breakpoint-phone)

    h2
        font-size: 2em
    
    .portfolioStill
        top: 30%