@import ./variables
.portfolioCard
    width: 100vw
    height: 100vh
    background: $accent-color-two
    
h2
    position: relative
    font-size: 6em
    color: $light-tone
    font-family: $main-font
    margin: 0
    padding-left: 0.5em
    &::after
        position: absolute
        content: ''
        width: 80%
        border-bottom: 0.2em solid $light-tone
        top: 90%
        right: 0
.portfolioBlurb
    color: $light-tone
    width: 100%
    font-size: 1.5em
    padding-right: 0.5em
    text-align: right
    font-family: $main-font

.portfolioStill
    width: 100%
    height: 60%
    object-fit: cover
    display: block
    margin: 2em auto
    &img
    border: 0.2em solid $light-tone

@media (max-width: $breakpoint-tablet)

    h2
        font-size: 5em
        &::after
            right: -90%

    .portfolioStill
        width: 75%

@media (max-width: $breakpoint-phone)

    h2
        font-size: 2em
    